# Arquivos temporários do Python
__pycache__/
*.py[cod]
*.pyc


# Ambiente virtual
venv/
.venv/

# Arquivos do Jupyter
.ipynb_checkpoints/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos Excel
*.xlsx
*.csv